<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.105.0" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="MD.PersianDateTime" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="PersianDateTimeControl" version="2.0.1" targetFramework="net472" />
  <package id="RasterEdge.Core" version="12.3.8" targetFramework="net472" />
  <package id="RasterEdge.Core.Office" version="12.3.8" targetFramework="net472" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="Spire.Doc" version="13.9.10" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.10" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="31.1.23" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Net.Core" version="31.1.23" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="31.1.23" targetFramework="net472" />
  <package id="Syncfusion.Markdown" version="31.1.23" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Net.Core" version="31.1.23" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net472" />
  <package id="WaterTrans.GlyphLoader" version="1.0.0" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="5.1.25458.6676" targetFramework="net472" />
  <package id="Xceed.Drawing.NET" version="1.0.25458.6676" targetFramework="net472" />
  <package id="Xceed.Pdf" version="5.1.25458.6676" targetFramework="net472" />
  <package id="XDoc.PDF" version="12.3.8" targetFramework="net472" />
  <package id="XImage.BarcodeGenerator" version="12.3.8" targetFramework="net472" />
  <package id="XImage.BarcodeReader" version="12.3.8" targetFramework="net472" />
  <package id="XImage.Raster" version="12.3.8" targetFramework="net472" />
</packages>